rules_version = '2';
service cloud.firestore {

  function isAuthenticated() {
    return request.auth != null;
  }

  function isCurrentUserAdmin() {
    return isAuthenticated() && request.auth.token.role == 'admin';
  }

  function isCurrentUser(uid) {
    return isAuthenticated() && request.auth.uid == uid;
  }

  match /databases/{database}/documents {
    match /subscriptions/{email} {
      allow read: if isCurrentUserAdmin();
      allow write: if isCurrentUserAdmin();
    }
    match /nodes/{node} {
      allow read: if true;
      allow write: if isCurrentUserAdmin();
    }
    match /users/{user} {
      allow read: if isCurrentUser(user) || isCurrentUserAdmin();
      allow write: if isCurrentUserAdmin();
      match /nodes/{node} {
        allow read: if isCurrentUser(user) || isCurrentUserAdmin();
        allow write: if isCurrentUserAdmin();
      }
    }
  }
}
